.header {
    background-color: rgb(3, 3, 82);
    height: 1000px;
    // background-image: linear-gradient(
    //     to bottom,
    //     rgb(18, 15, 20) 78%,
    //     rgb(23, 23, 161)
    // );
}
.container__header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    
    display: flex;
    justify-content: center;    

}