.header {
    background-color: var(--header-bg-color);
}
.container__header {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    
    display: flex;
    justify-content: center;    

}