.logo {
    position: relative;
    display: flex;
    

    padding-top: 5px;
    padding-bottom: 5px;

    // background-color: #e52feb;


    font-family: Raleway, sans-serif;
    font-size: 26px;

    color: var(--logo-color);

    border-radius: 4px;

    @include link;

    
 


    
}

.logo__svg {
    // margin-right: -5px;
    // margin-left: -5px;

    fill: white;

    

}

.logo__travel {
    display: inline-flex;
    align-self: center;

    margin-top: 10px;

    color: blue;


    background: -moz-linear-gradient(top, blue, yellow);
    background: -webkit-linear-gradient(top, blue, yellow);
    background: -o-linear-gradient(top, blue, yellow);
    background: -ms-linear-gradient(top, blue, yellow);
    background: linear-gradient(top, blue, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    


}
.logo__eiffel {
    align-self: center;

    margin-top: 10px;


   
}
.logo__ei {
    color: blue;
}
.logo__ff {
    color: white;
}
.logo__el {
    color: red;
}

