.logo {
    position: relative;
    display: flex;
    

    padding-top: 5px;
    padding-bottom: 5px;

    // background-color: #e52feb;


    font-family: Raleway, sans-serif;
    font-size: 26px;

    color: var(--logo-color);

    border-radius: 4px;

    @include link;

    
 


    
}

.logo__svg {
    // margin-right: -5px;
    // margin-left: -5px;

    fill: white;

    

}

.logo__travel {
    display: inline-flex;
    align-self: center;

    margin-top: 10px;


    
    


}
.logo__eiffel {
    align-self: center;

    margin-top: 10px;

    
   
}
.logo__ei {
    color: blue;
}
.logo__ff {
    color: white;
}
.logo__el {
    color: red;
}
.logo__tra {
    color: blue;
}
.logo__vel {
    color: rgb(194, 194, 0);
}

.icon-vivaro {
    fill: rgb(7, 32, 175);
}