.logo {
    position: relative;
    display: flex;
    

    padding-top: 5px;
    padding-bottom: 5px;

    // background-color: #e52feb;


    font-family: Raleway, sans-serif;
    font-size: 26px;

    color: var(--logo-color);

    border-radius: 4px;

    @include link;

    
 


    
}

.logo__svg {
    // margin-right: -5px;
    // margin-left: -5px;

    fill: white;

    

}

.logo__travel {
    display: inline-flex;
    align-self: center;

    margin-top: 10px;

    color: gray;

    // color: transparent;
    // -webkit-background-clip: text;
	// background-clip: text;
    // // background-image: linear-gradient(var(--ukraine-blue-color), var(--ukraine-yellow-color));
    // background-image: linear-gradient(var(--ukraine--blue-color) 50%, var(--ukraine--yellow-color) 50%);

}
.logo__eiffel {
    align-self: center;

    margin-top: 10px;

    

   
}
.logo__ei {
    color: blue;
}
.logo__ff {
    color: white;
}
.logo__el {
    color: red;
}

