:root {
    --header-bg-color: white;
    --main-bg-color: rgb(18, 9, 71);

    --logo-color: black;
    --logo-bus-color: black;

    --ukraine--blue-color: blue;
    --ukraine--yellow-color: yellow;
}